WEBHOOK_SECRET=ilr-webhook-2026-7c3f9d1a2e6b4c8f
FIREBASE_PROJECT_ID=inglesnoseuritmo-bae14
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@inglesnoseuritmo-bae14.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"
DEFAULT_TEACHER_PLAN=starter
DEFAULT_BILLING_CYCLE=monthly
